  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h3><%= @product.name%></h3>
    <p class="card-text"><%= @product.price.to_i %> грн.</p>
      <div>
        <h5><%= @product.description %></h5>
      </div>
      <br>
      <h6>Category: <%= @category.title %></h6>
  </div>
  <br>