    <!DOCTYPE html>
    <html lang=\"en\">
      <head>
        <meta charset=\"utf-8\">
        <title>Форма имени</title>
      </head>
      <body>
        <h1>Forms</h1>
        <form method='post' action='/change'>
          <input name='name' type='text'>
          <input type='submit' value='Cange Name'>
        </form>
    <hr/>
    <a href='/'>menu</a>
    </body>
    </html>