<h1>Cart</h1>

<%
=begin%>
 <% if current_cart.line_items.eny? %> 
<%
=end%>
  <table class="table">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    <% current_cart.line_items.each do |line_item|%>
      <tr>
        <%
=begin%>
 <td><%= image_tag image_url(line_item.product.name), width: 150, height: 150 %></td>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.quantity %></td> 
<%
=end%>
        <td><%= line_item.price %></td>
      </tr>
    <% end %>
  </table>
<%
=begin%>
 <% else %>
  <p>Currently no items in the cart.</p>
<% end %> 
<%
=end%>
