<div class='container'>  
  <br>
  <h1>Good afternoon dear <%= @user_email %></h1>
  <p>We are glad to inform you that you have become the winner of the monthly lottery. Your prize is a 20% discount on your next order in our store. This discount is valid for 15 days.</p>
</div>