<div class='container cont2'>
  <h3>Our Collection</h3>
  <section class='cont'>
  <div id="products" class="row products">
    <div class='row-wrap-40px'>

    <%= render @products %>



    </div>
  </div>
  </section>
</div>